In [1]:
from pyspark.sql import SparkSession

In [13]:
spark = SparkSession.builder.appName("bitcoin").getOrCreate()

In [3]:
print(spark)

<pyspark.sql.session.SparkSession object at 0x7f147d2aa040>

In [5]:
rdd = spark.sparkContext.parallelize([1,2,3,4,5,6])

In [6]:
rdd.count()

6

In [7]:
data = [('James','','Smith','1991-04-01','M',3000),
  ('Michael','Rose','','2000-05-19','M',4000),
  ('Robert','','Williams','1978-09-05','M',4000),
  ('Maria','Anne','Jones','1967-12-01','F',4000),
  ('Jen','Mary','Brown','1980-02-17','F',-1)
]

In [8]:
columns = ["firstname","middlename","lastname","dob","gender","salary"]

In [9]:
df = spark.createDataFrame(data=data, schema = columns)

In [11]:
df.show()

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
+---------+----------+--------+----------+------+------+
|    James|          |   Smith|1991-04-01|     M|  3000|
|  Michael|      Rose|        |2000-05-19|     M|  4000|
|   Robert|          |Williams|1978-09-05|     M|  4000|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|
+---------+----------+--------+----------+------+------+

In [14]:
df = spark.read_csv("coinbase-extracted.csv")
df.printSchema()

AttributeError: 'SparkSession' object has no attribute 'read_csv'

In [22]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

df_spark = spark.read.csv("coinbase-extracted.csv",header=True,sep="|")

print(df_spark.collect())

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [46]:
df_spark.columns

['Datetime,Symbol,Open,High,Low,Close']

In [58]:
df_spark.createOrReplaceTempView("CRYPTO")
query = "SELECT * FROM CRYPTO WHERE Symbol == 'BTC' "
bitcoin = spark.sql(query)

AnalysisException: cannot resolve 'Symbol' given input columns: [crypto.Datetime,Symbol,Open,High,Low,Close]; line 1 pos 27;
'Project [*]
+- 'Filter ('Symbol = BTC)
   +- SubqueryAlias crypto
      +- View (`CRYPTO`, [Datetime,Symbol,Open,High,Low,Close#91])
         +- Relation [Datetime,Symbol,Open,High,Low,Close#91] csv

In [51]:
bitcoin.select()

TypeError: 'StructType' object is not callable

In [16]:
import pandas as pd

In [17]:
df = pd.read_csv("coinbase-extracted.csv")

In [20]:
df

,Datetime,Symbol,Open,High,Low,Close
0,2021-07-01 00:00:00,BTC,35049.045484,35056.817222,34991.326658,34993.994267
1,2021-07-01 00:01:00,BTC,34995.349202,35030.583041,34989.167695,34991.266464
2,2021-07-01 00:02:00,BTC,34991.950939,34994.431719,34929.671801,34952.450112
3,2021-07-01 00:03:00,BTC,34954.642324,34980.657519,34954.642324,34961.649826
4,2021-07-01 00:04:00,BTC,34960.350436,34996.245435,34960.350436,34976.586395
...,...,...,...,...,...,...
848155,2021-07-31 23:55:00,EOS,4.089877,4.095377,4.087844,4.087844
848156,2021-07-31 23:56:00,EOS,4.087752,4.091843,4.087467,4.091723
848157,2021-07-31 23:57:00,EOS,4.091888,4.095207,4.091888,4.093852
848158,2021-07-31 23:58:00,EOS,4.093854,4.094409,4.083444,4.085547
848159,2021-07-31 23:59:00,EOS,4.085531,4.087326,4.059648,4.066565

In [26]:
data = [('James','','Smith','1991-04-01','M',3000),
  ('Michael','Rose','','2000-05-19','M',4000),
  ('Robert','','Williams','1978-09-05','M',4000),
  ('Maria','Anne','Jones','1967-12-01','F',4000),
  ('Jen','Mary','Brown','1980-02-17','F',-1)
]

columns = ["firstname","middlename","lastname","dob","gender","salary"]
df = spark.createDataFrame(data=data, schema=columns)

In [28]:
df.createOrReplaceTempView("PERSON_DATA")
df2 = spark.sql("SELECT * from PERSON_DATA")
df2.printSchema()
df2.show()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
+---------+----------+--------+----------+------+------+
|    James|          |   Smith|1991-04-01|     M|  3000|
|  Michael|      Rose|        |2000-05-19|     M|  4000|
|   Robert|          |Williams|1978-09-05|     M|  4000|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|
+---------+----------+--------+----------+------+------+

In [29]:
groupDF = spark.sql("SELECT gender, count(*) from PERSON_DATA group by gender")
groupDF.show()

+------+--------+
|gender|count(1)|
+------+--------+
|     M|       3|
|     F|       2|
+------+--------+

In [55]:
f = spark.sql("SELECT * from PERSON_DATA WHERE gender == 'F'")

In [57]:
f.show()

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
+---------+----------+--------+----------+------+------+
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|
+---------+----------+--------+----------+------+------+